.about-content {
  display: flex;
  justify-content: space-evenly;
  color: '#161618';
  width: 100%;
}

@media screen and (max-width: 960px) {
  .about-content {
    flex-direction: column;
  }
} 

.about-main {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
}

.about-texts {
  width: 400px;
  align-self: center;
  height: 300px;
  margin-top: 40px;
}

.company-image-content, img {
  width: 500px;
  align-self: center;
}

@media screen and (max-width: 540px) {
  .company-image-content, img {
    width: 300px;
  }
  .about-texts {
    width: 300px;
    margin-top: 20px;
  }

}

hr {
  width: 30%;
  align-self: center;
}

@media screen and (max-width: 950px) {
  hr {
    visibility: hidden;
  }
}