nav a {
  color: #161618;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo-content {
  padding: 10px;
}

.btn-menu {
  display: none;
  border: none;
  background-color: white;
}

@media screen and (max-width: 414px) {
  .btn-menu {
    display: block;
  }
}


