nav a {
  color: #161618;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.logo-content {
  padding: 10px;
}


